<style>
    .cookie-banner {
        position: fixed;
        bottom: 40px;
        left: 10%;
        right: 10%;
        width: 80%;
        padding: 5px 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #eee;
        border-radius: 5px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    .close {
        height: 20px;
        background-color: #777;
        border: none;
        color: white;
        border-radius: 2px;
        cursor: pointer;
    }
</style>



<div class='cookie-banner' style='display: none'>
    <p>
        Our site uses third-party cookies and similar tracking technologies to optimize your browsing experience,
        analyze website traffic, and personalize content. By continuing to use our site, you consent to the use of these
        technologies as outlined in our
        <a href='{% url "policies:privacy_policy" %}'>Privacy Policy.</a>
    </p>
    <button class='close'>&times;</button>
</div>




<script>
    if (localStorage.getItem('cookieSeen') != 'shown') {
        $('.cookie-banner').delay(2000).fadeIn();
        localStorage.setItem('cookieSeen', 'shown')
    };
    $('.close').click(function () {
        $('.cookie-banner').fadeOut();
    })
</script>