{% extends 'base.html' %}

{% load static %}

{% block header %}
{% include 'base/navbar.html' %}
{% endblock %}


{% block content %}

<main class="main no-main">
    <div class="container-fluid blog-post-holder div-padding c">
        <div class="blog-post-details b"><br /><br />
            <h3>{{ privacy_policy.title }}</h3>
            <p>Last Updated: {{ privacy_policy.updated }}</p>

            <p>{{ privacy_policy.content|safe }}</p><br /><br />
        </div>
    </div>
</main>


{% endblock %}