<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christopher Ads!</title>
    <link rel="icon" href="logo.ico" type="image/x-icon">
</head>

<body>
    <h1>ChristopherAds!</h1>
    <img src="" alt="A photo of a laptop for sale" />
    <ul>
        <li>Brand: Apple</li>
        <li>Condition: Used Like New</li>
        <li>Price: 500EUR</li>
    </ul>

    <p>Email: try@gmail.com</p>
    <p>Phone number: +49 1690 439875509</p>
    <p>Address: 5 Brand str. Fulham</p>

    <form action="#">
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName" id="first_name" placeholder="Enter your first name">

        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName" id="last_name" placeholder="Enter your last name">

        <label for="email">Email: </label>
        <input type="text" name="email" id="email" placeholder="Enter your valid email address">

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>

        <button type="submit">Submit</button>
    </form>
    <br><br>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d78531.9962831314!2d8.820841881289043!3d52.04103838458066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sde!4v1720466916790!5m2!1sen!2sde"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

</body>

</html>